<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" type="text" name="name"
            [(value)] = "product.name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" type="text" name="price"
             [(value)] = "product.price" disabled>
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click) = "deleteProduct()" color="warn">
        Excluir
    </button>
    <button mat-raised-button (click) = "cancelProduct()" color="primary">
        Cancelar
    </button>
</mat-card>

