<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form action="" #formProduct="ngForm">
        <mat-form-field>
            <input matInput placeholder="Nome" type="text" name="name" id="name"
            [(ngModel)] = "product.name" #name="ngModel" required>
        </mat-form-field>
        <div class="ngInvalidProduct" *ngIf="name.errors && (name.dirty || name.touched)">
            <small>É necessário adicionar um <strong>nome</strong> ao produto.</small>
        </div>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" type="number" name="price" id="price"
             [(ngModel)] = "product.price" #price="ngModel" required>
            </mat-form-field>
        <div class="ngInvalidProduct" *ngIf="price.errors && (price.dirty || price.touched)">
            <small>É necessário adicionar um <strong>preço</strong> ao produto.</small>
        </div>
    </form>
    <button mat-raised-button (click) = "createProduct()" color="primary"
     [disabled]="!formProduct.valid">
        Salvar
    </button>
    <button mat-raised-button (click) = "cancelProduct()" color="primary">
        Cancelar
    </button>


</mat-card>

