<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form action="">
        <mat-form-field>
            <input matInput placeholder="Nome" type="text" name="name"
            [(ngModel)] = "product.name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" type="text" name="price"
             [(ngModel)] = "product.price">
        </mat-form-field>
    </form>
    
    <button mat-raised-button (click) = "createProduct()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click) = "cancelProduct()" color="primary">
        Cancelar
    </button>
</mat-card>

